.home {
  position: absolute;
  width: 50%;
  top: 40%;
  left: 25%;
}

@keyframes typing {
  from,
  95%,
  to {
    width: 0;
  }

  20% {
    width: 100%;
  }

  80% {
    width: 100%;
  }
}

@keyframes caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #000;
  }
}

.title-container {
  display: flex;
  align-items: center;
}

.home-content {
  text-align: center;
}

.title-container h1 {
  font-size: 4.6vw;
  max-width: fit-content;
  margin: 0 auto;
  border-right: 0.5vw solid black;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: #ffffff;

  animation: caret 0.75s step-end infinite, typing 10s steps(15, end) infinite;
}

.home-content > p {
  font-size: 2.6vw;
  font-weight: bold;
}

.divider {
  width: 100%;
  max-width: 600px;
  height: 16px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  margin: 1rem auto;
}

.home-btn-container {
  position: relative;
  margin-top: 6rem;
}

.home-btn {
  padding: 1vw 2.5vw;
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  color: black;

  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
}

.home-btn:hover {
  background: rgb(238, 238, 238, 0.8);
}

.sun {
  position: absolute;
  top: 0%;
  left: 11%;
  width: 20%;
}
@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-5px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}
.right-island {
  position: absolute;
  height: 500%;
  width: auto;
  right: 0;
  top: 5%;
  animation: float 3s ease-in-out infinite;
}

.left-island {
  position: absolute;
  width: 40%;
  height: auto;
  top: 10%;
  left: -50%;
  /* width: 150px; */
  animation: float 3s ease-in-out infinite;
}

.ships {
  position: absolute;
  width: 75%;
  height: auto;
  top: 3%;
  left: 0%;
}

@media (max-width: 720px) {
  .divider {
    margin: 0.5rem auto;
    height: 0.6vh;
  }

  .home-btn-container {
    margin: 1rem auto;
  }
}
