@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Advent Pro", sans-serif;
}

img {
  width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
  z-index: 1;
}

section {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  z-index: 99;
  top: 20%;
  left: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", cursive;
  margin-left: 2em;
}

h1 {
  /* box-shadow: 0px 0px 0px 4px white; */
}

.text-box {
  position: absolute;
  background: white;
  opacity: 0.8;
  z-index: 99;
  backdrop-filter: blur(4px);
  border-radius: 20px;
  font-weight: bold;
  line-height: 2.5vw;
  font-size: 1.6vw;
  letter-spacing: 0.8px;
}

.day-counter {
  z-index: 99;
  position: absolute;
  text-transform: uppercase;
  font-size: 3vw;
  left: 37%;
}

#day3 {
  width: 30%;
  height: 24%;
  left: 4%;
  top: 10%;
  padding: 2vw 0 0.5vw 2.5vw;
}

#day-counter-3 {
  top: 20%;
}

#day4 {
  width: 26%;
  height: 20%;
  right: 5%;
  bottom: 25%;
  padding: 2vw 0 1vw 2.5vw;
}

#day-counter-4 {
  bottom: 30%;
}

#day5 {
  width: 28%;
  height: 35%;
  left: 4%;
  top: 0;
  padding: 1.5vw 0 1vw 2.5vw;
}

#day-counter-5 {
  top: 15%;
}

#day6 {
  width: 22%;
  height: 18%;
  right: 8%;
  bottom: 32%;
  padding: 1.8vw 0 2vw 2.5vw;
}

#day-counter-6 {
  bottom: 33%;
}