@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;500;700&family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Advent Pro", sans-serif;
}

img {
  width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
  z-index: 1;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

section {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  z-index: 99;
  top: 20%;
  left: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", cursive;
  margin-left: 2em;
}

h1 {
  /* box-shadow: 0px 0px 0px 4px white; */
}

.App {
  position: relative;
}

.section2-header {
  position: absolute;
  width: 50%;
  top: 30%;
  font-size: 3vw;
}
.apb-desc > p {
  position: absolute;
  width: 87%;
  top: 40%;
  left: 7%;
  font-family: Advent Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4vw;
}

.text-box {
  position: absolute;
  background: white;
  opacity: 0.8;
  z-index: 99;
  backdrop-filter: blur(4px);
  border-radius: 20px;
  font-weight: bold;
  line-height: 2.5vw;
  font-size: 1.6vw;
  letter-spacing: 0.8px;
}

.button-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.day-counter {
  z-index: 99;
  position: absolute;
  text-transform: uppercase;
  font-size: 3vw;
  left: 37%;
}

.timeline {
  position: absolute;
  font-size: 4vw;
  color: black;
  text-shadow: -0.3vw -0.3vw 0 #fff, 0.3vw -0.3vw 0 #fff, -0.3vw 0.3vw 0 #fff,
    0.3vw 0.3vw 0 #fff;
  top: 13%;
  right: 63%;
}
#day1 {
  width: 30%;
  height: 20%;
  left: 4%;
  top: 33%;
  padding: 1.5vw 0 3vw 2.5vw;
}

#day-counter-1 {
  top: 41%;
}

#day2 {
  width: 27%;
  height: 18%;
  top: 68%;
  right: 2%;
  padding: 2vw 0 1vw 2.5vw;
}

#day-counter-2 {
  top: 76%;
}
#day3 {
  width: 30%;
  height: 24%;
  left: 4%;
  top: 10%;
  padding: 2vw 0 0.5vw 2.5vw;
}

#day-counter-3 {
  top: 20%;
}

#day4 {
  width: 26%;
  height: 20%;
  right: 5%;
  bottom: 25%;
  padding: 2vw 0 1vw 2.5vw;
}

#day-counter-4 {
  bottom: 30%;
}

#day5 {
  width: 28%;
  height: 35%;
  left: 4%;
  top: 0;
  padding: 1.5vw 0 1vw 2.5vw;
}

#day-counter-5 {
  top: 15%;
}

#day6 {
  width: 22%;
  height: 18%;
  right: 8%;
  bottom: 32%;
  padding: 1.8vw 0 2vw 2.5vw;
}

#day-counter-6 {
  bottom: 35%;
}

#day-7 {
  width: 20vw;
  left: 4%;
  top: 4vw;
  padding: 1.5vw 0 1vw 2.5vw;
}

#day-counter-7 {
  top: 5vw;
}

#day-8 {
  width: 20vw;
  right: 8%;
  top: 23vw;
  padding: 1.5vw 0 1vw 2.5vw;
}

#day-counter-8 {
  top: 24vw;
}

#day-9 {
  padding: 1vw 2vw;
  width: 25vw;
  text-align: center;
  list-style-position: inside;
  left: 50%;
  top: 6vw;
  transform: translateX(-50%);
}

.bottom-daftar-btn {
  top: 23vw;
}

.bottom-daftar-btn .btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 1vw 2.5vw;
  text-decoration: none;
  background-color: rgba(32, 111, 84, 0.8);
  color: #fff;
  font-size: 1.75vw;
  border-radius: 10px;
}

.bottom-daftar-btn .btn:hover {
  background-color: rgba(31, 70, 56, 0.8);
}

footer {
  position: absolute;
  bottom: 1.5vw;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

footer h2 {
  font-family: "Advent Pro", sans-serif;
  color: #0c6577;
}

footer img {
  height: 4vw;
  width: auto;
  display: inline-block;
  margin-right: 1vw;
  min-height: 35px;
}

footer .logo {
  margin-right: 4vw;
}

footer .contact-icon {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .contact {
  margin-left: 4vw;
}

footer h2 {
  margin-left: 0;
}

footer .contact-icon .contact-icon-logo {
  font-size: clamp(25px, 2.8vw, 80px);
  color: rgba(29, 94, 70, 0.8);
  display: inline-block;
  margin-right: 5px;
}

footer .contact-icon .contact-icon-logo:hover {
  color: rgba(20, 51, 40, 0.8);
}
