@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Advent Pro', sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

section {
  position: relative;
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  z-index: 99;
  top: 20%;
  left: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Press Start 2P', cursive;
  margin-left: 2em;
}

h1 {
  /* box-shadow: 0px 0px 0px 4px white; */
}
